<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqYyqauXg==" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td style="text-align: center;">
                    <h1 class="display-4">CAESAR CIPHER</h1>
                </td>
            </tr>
            <tr>
                <td class="section-title">ENCRYPTION</td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/encrypt">
                        <div class="form-group mb-3">
                            <label for="plainText" class="form-label">Plain text:</label>
                            <input type="text" class="form-control" id="plainText" name="plainText" placeholder="Input Plain Text" required autofocus>
                        </div>
                        <div class="form-group mb-3">
                            <label for="encryptKey" class="form-label">Key:</label>
                            <input type="number" class="form-control" id="encryptKey" name="key" placeholder="Input key" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-block">Encrypt</button>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="section-title">DECRYPTION</td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/decrypt">
                        <div class="form-group mb-3">
                            <label for="cipherText" class="form-label">Cipher text:</label>
                            <input type="text" class="form-control" id="cipherText" name="cipherText" placeholder="Input Cipher Text" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="decryptKey" class="form-label">Key:</label>
                            <input type="number" class="form-control" id="decryptKey" name="key" placeholder="Input key" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">Decrypt</button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
</body>
</html>